@charset "UTF-8";

body {
    font-size: 12px; padding: 25px; width: 100%; background-color: #FFFFFF; line-height:22px;
}

.endborder {
    border-bottom-color: rgba(51, 51, 51, 0.51);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

header {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
    padding:20px;
    text-align: center;
    border-bottom-color: #e3e3e3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #e3e3e3;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom:15px;
}

footer {
    left: 0px;
    right: 0px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    padding:20px;
}

hr {
    border-top-width: 1px;
    border-top-style: solid;
    height: 0px;
}

.oneline {
    white-space: nowrap;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.red, a.red, a.red:active, a.red:hover {
    color: #a10000;
}

h3 {
    font-size:15px;
}

table {
    font-size:12px;
}